<h1>Nueva aula</h1> <h5>Los campos con (*) son obligatorios</h5>
<% form_for(@aula, '/aulas/create') do |f| %>

  <%= partial 'aulas/form', :locals => { :f => f } %>

  <div align="left">
    <%= f.submit "Aceptar", :class => "btn btn-primary" %>
	<%= link_to 'Cancelar', url_for(:aulas, :listar), :class => "btn btn-secondary" %>
 	</div> 
<% end %>


