<div class="jumbotron">
  <h1>Aulas</h1>
  <p class="lead">Bienvenido al sistema de gestion de Aulas </p>
  <a class="btn btn-large btn-success" href="<%= url(:aulas, :listar) %>" >Buscar un Aula</a>
  
</div>
