<div class="jumbotron">
  <h1>Aulas</h1>
  <p class="lead">Bienvenido al sistema de gestion de Aulas </p>
  <a class="btn btn-large btn-success" href="<%= url(:job_offers, :latest) %>" >Buscar un Aula</a>
  <a class="btn btn-large btn-success" href="<%= url(:sessions, :login) %>">Login</a>
</div>